body {
  font-family: 'Josefin Sans', sans-serif;
  font-size:25px;

}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size:25px;
  display: flex;
  justify-content: center;
  color:rgb(195, 197, 196);
  
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size:25px;
  color: black;

}

nav {
display:flex;
flex-direction: row;
justify-content: space-between;
}


section {
background-color: rgb(65, 49, 42);
display:flex;
justify-content:flex;
flex-direction:row;
flex-wrap: row;
padding: auto;
margin: 0 auto;
}

footer {
background-color: rgb(65, 49, 42);
display: flex;
flex-wrap: wrap;
flex-direction:center;
justify-content:center;

}
img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }



@media screen and (max-width: 992px) {
    .images{
    width:100%
    }
}


@media screen and (max-width: 400px) {
  .images{
    width:50%
  }
}

